(
    main_layer: [
        "...........########",
        "....########...H..#",
        "....#.............#",
        "....#.########....#",
        "....#.#......#....#",
        "#####.#####..#....#",
        "#......P..####....#",
        "#.H...............#",
        "#....@....####.F..#",
        "#.........#..#....#",
        "#.........#..######",
        "#.........#........",
        "###########........",
    ],
)