(
    main_layer: [
        "###########",
        "#...#.#P..#",
        "#.E........",
        "#....@....#",
        "#.........#",
        "#.........#",
        "#.........#",
        "###########",
    ],
)